@{
    ViewBag.Title = "Contact";
}

<header class="w3-container w3-center" style="background-image: url(/images/background2.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; padding:128px 16px">
    <center>
        <h1>CONTACT ME TO FOR FEEDBACK STUFF</h1>
    </center>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" style="">
    <div class="w3-content">
        <div class="row">
            <div class="column">
                <h4>In case you wonder where I work. Here is a location</h4>
                <div id="map" style="width:400px;height:400px;">
                    Map here
                </div>
            </div>
            <div class="column">
                <p style="font-family: 'Baloo Bhai', cursive;">
                    --My Contact list-- <br>
                    <i class="fa fa-google" style="font-size:36px"></i>Gmail: novapyae1999@gmail.com <br>
                    <i class="material-icons" style="font-size:36px">place</i>Workshop Location: PinPoint Location<br>
                    <i class="material-icons" style="font-size:36px">perm_phone_msg</i>
                    Phone : +95 9979512918
                </p>
            </div>
        </div>
    </div>

    <div class="w3-third w3-center">

    </div>
</div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day:<div id="quote"></div></h1>
</div>

<script>
    function myMap() {
        myCenter = new google.maps.LatLng(16.8056, 96.1355);
        var mapOptions = {
            center: myCenter,
            zoom: 18, scrollwheel: false, draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: myCenter,
        });
        marker.setMap(map);

    }

    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfQYMDZmPiwX39MM3jHU5IPj5FmAU23gE&callback=myMap"></script>