@{
    ViewBag.Title = "Home Page";
}


<header class="w3-container w3-red w3-center" style="padding:128px 16px; background-image: url(../images/BackgroundFull.jpg); background-size: cover; ">
    <center>
        <h1 class="w3-margin w3-jumbo">AnimeBase</h1>
        <p class="w3-xlarge">Home of links and informations of Anime</p>
    </center>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <div class="slidecontainers">
                <div class="myAniSlides fade">
                    <img src="../images/Slideimg1.png" style="width: 100%">
                </div>
                <div class="myAniSlides fade">
                    <img src="../images/Boruto.jpg" style="width: 100%">
                </div>
                <div class="myAniSlides fade">
                    <img src="../images/PokemonXYZbg.png" style="width: 100%">
                </div>
            </div>
        </div>

        <div class="w3-third w3-center">
            <p style="font-family: 'Baloo Bhai', cursive;">Get the latest information of episodes on the anime that you like</p>
        </div>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-left">
            <h3>~Coming soon~</h3> <br />
            <h5>Cinema Time View</h5>
        </div>

        <div class="w3-twothird w3-right">
            <h3>Things to expect : </h3> <br />
            <h5> View the anime movies that are in cinemas </h5>
        </div>
    </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day:<div id="quote"></div></h1>
</div>
<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("myAniSlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>